<table id="players_table" class="table table-bordered table-condensed">
	<script> handleMarked();</script>
<span>
<thead>
<tr>
	<th><%= sortable "name", "Namn"%></th>
	<th><%= sortable "price", "Pris"%></th>
	<th><%= sortable "position", "Position"%></th>
	<th><%= sortable "team_id", "Land"%></th>
	<th><%= sortable "points", "Poäng"%></th>
	<th>Info</th>
</thead>
<tbody>
<% @players.each do |player| %>
	<tr draggable="true" id=<%="player_#{player.id}"%> >
	<td><%= player.name %></td>
	<td><%= player.price %></td>
	<td><%= player.position %></td>
	<td><%= Team.find(player.team_id).name %></td>
	<td><%= player.points %></td>
	<td class="not-disabled"><%= link_to "info", player_path(player), :class => "btn btn-info btn-mini" %>
	</tr>


</span>
<% end %>
</tbody>
</table>
<%= will_paginate @players ,:inner_window => 2, :previous_label => "«", :next_label => '»', :renderer => PaginationListLinkRenderer %>