<table id="players_table" class="table table-striped table-bordered table-condensed">
	<script> handleMarked();</script>
<span>
<tr>
	<th><%= sortable "name", "Namn"%></th>
	<th><%= sortable "price", "Pris"%></th>
	<th><%= sortable "position", "Position"%></th>
	<th><%= sortable "team_id", "Land"%></th>
<% @players.each do |player| %>
	<tr draggable="true" id=<%="player_#{player.id}"%> >
	<td><%= player.name %></td>
	<td><%= player.price %></td>
	<td><%= player.position %></td>
	<td><%= Team.find(player.team_id).name %></td>
	</tr>


</span>
<% end %>
</table>
<%= will_paginate @players ,:inner_window => 2, :previous_label => "«", :next_label => '»', :renderer => PaginationListLinkRenderer %>