		<div id="goalie">
			<div class="player player_0" data-position="0">
				<div class="kit"></div>
				<div class="player_name"></div>
			</div>
		</div>
		
		<div id="defense">
			<% 4.times do |i|  %>
				<div class="player player_<%=i+1 %>" data-position="<%=i+1 %>">
					<div class="kit"></div>
					<div class="player_name"></div>
				</div>
			<% end %>
		</div>
		
		<div id="midfield">
			<% 4.times do |i|  %>
				<div class="player player_<%=i+5 %>" data-position="<%=i+5 %>">
					<div class="kit"></div>
					<div class="player_name"></div>
				</div>
			<% end %>
		</div>
		
		<div id="forwards">
			<% 	2.times do |i|  %>
				<div class="player player_<%=i+9 %>" data-position="<%=i+9 %>">
					<div class="kit"></div>
					<div class="player_name"></div>
				</div>
			<% end %>
		</div>