<div id="pitch">
		<div class="goalie">
			<div class="player"><%= image_tag 'icons/plus_small.png', :class => 'plus' %></div>
		</div>
		<div class="defense">
			<div class="player"><%= image_tag 'icons/plus_small.png' %></div>
			<div class="player"><%= image_tag 'icons/plus_small.png' %></div>
			<div class="player"><%= image_tag 'icons/plus_small.png' %></div>
			<div class="player"><%= image_tag 'icons/plus_small.png' %></div>
		</div>
		<div class="midfield">
			<div class="player"><%= image_tag 'icons/plus_small.png' %></div>
			<div class="player"><%= image_tag 'icons/plus_small.png' %></div>
			<div class="player"><%= image_tag 'icons/plus_small.png' %></div>
			<div class="player"><%= image_tag 'icons/plus_small.png' %></div>
		</div>
		<div class="forwards">
			<div class="player"><%= image_tag 'icons/plus_small.png' %></div>
			<div class="player">10</div>
		</div>
	</div>