
<% if current_user %>
<div id="user_team_name">
<% if not current_user.user_teams.empty? %>
  <h1><%= @user_team.name %></h1><h2><%= @points %></h2>
  <h3><%= @bank %></h3>
  <% else %>
	<h1><input id="name_input" value="Namn"/></h1>
<% end %>
</div>
	
	<div class="row">
		<div class="span6">
		      <div id="pitch_alert" class="alert alert-success"><%= flash[:notice] %></div>
			<div id="pitch">
			<%= render 'pitch' %>
			</div>
		</div>
		<div class="span6">
			<%= form_tag @user_team, :method => 'get', :id => "players_search" do %>

				<%= hidden_field_tag :direction, params[:direction] %>
				<%= hidden_field_tag :sort, params[:sort] %>
				<%= hidden_field_tag :team_id, params[:team_id] %>

				<div id="filter_settings">
				<label>Sök</label>
				<%= text_field_tag :search, params[:search] %>
				<label>Lag</label>
				<%= select_tag "team_select", options_from_collection_for_select(Team.all,'id','name')  , {:prompt => "Alla länder" }%>
				</div>
				<div id="position_select">
					<label>Positioner</label>
					<table>
					<tr>
						<td><%= check_box_tag 'gk_check',"gk_check", true, :id=> 'gk_check', :class => "position_check" %></td>
						<td><%= label_tag 'gk_check', 'Målvakter' %></td>
					</tr>	
					<tr>
						<td><%= check_box_tag 'df_check',"df_check", true, :id=> 'df_check', :class => "position_check" %></td>
						<td><%= label_tag 'df_check', 'Backar' %></td>
					</tr>
					<tr>
						<td><%= check_box_tag 'mf_check',"mf_check", true, :id=> 'mf_check', :class => "position_check" %></td>
						<td><%= label_tag 'mf_check', 'Mittfältare' %></td>
					</tr>
					<tr>
						<td><%= check_box_tag 'fw_check',"fw_check", true, :id=> 'fw_check', :class => "position_check" %></td>
						<td><%= label_tag 'fw_check', 'Anfallare' %></td>
					</tr>
					</table>
				</div>
				<div id="players"><%= render 'pickplayers' %>

				</div>
			<% end %>
		</div>	
	</div><!-- /row -->
	<div class="row">
		<div class="span6">
				<%= form_for(@user_team, :remote => true, :url => save_team_path) do |f| %>
				<input type="text" name="teamplayers" id="teamplayers" value="<%= @user_team.players.to_json %>" />
				<input type="text" name="teamname" id="teamname_hidden" value="<%= @user_team.name %>" />
				<%= f.submit %>
			<% end %>
		</div>
	</div><!-- /row -->
<% end %>

