
<% if current_user %>
<% if @user_team %>
  <h1><%= @user_team.name %></h1>
  <% else %>
	<h1>Inget lag</h1>
<% end %>
	
	<div class="row">
		<div class="span6">
			<div class="btn-group">
  				<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    				Välj formation
    				<span class="caret"></span>
  				</a>
  					<ul class="dropdown-menu">
    					<li><%= link_to "3-4-3", :def => 3, :mid => 4, :for => 3, :method => :post %></li>
    					<li><%= link_to "4-4-2", :def => 4, :mid => 4, :for => 2, :method => :post %></li>
    					<li><%= link_to "4-3-3", :def => 4, :mid => 3, :for => 3, :method => :post %></li>
 					 </ul>
			</div>

			<%= render 'pitch' %>
		</div>
		<div class="span6">
			<div id="filter_settings">
				<label>Sök</label><input />
				<label>Land</label>
				<%= select("post", "team_select", Team.all.collect {|t| [ t.name, t.id ] }, {:include_blank => 'Alla Länder'}) %>
			</div>
		<%= render 'players/pickplayer' %>
		</div>	
	</div><!-- /row -->
	<div class="row">
		<div class="span6">
			<a href="#" class="btn btn-large" id="save_button" >Spara lag</a>
		</div>
	</div><!-- /row -->
<% end %>

