<div class="row">
		<div class="span6">
			<div class="well">


	<div id="header_row">
<% if not current_user.user_teams.empty? %>
 <div id="user_team_name"> <h1><%= @user_team.name %></h1></div><h2>Poäng: <%= @points %></h2>
  <div class="clear"></div>
  <h3 id="bank" ><%= @bank %></h3>
  <% else %>
	<h1><input id="name_input" value="Namn"/></h1>
<% end %>
</div>
			<div id="pitch">
			<%= render 'pitch' %>
			</div>
		</div>	
	</div><!-- /row -->
	<div class="row">
		<div class="span6">
				<input type="hidden" name="teamplayers" id="teamplayers" value="<%= @user_team.players.to_json %>" />
		</div>
	</div></div>