<table id="players" class="table table-condensed">
<span>
<tr>
	<td><%= sortable "name", "Namn"%></td>
	<td><%= sortable "price", "Pris"%></td>
	<td><%= sortable "position", "Position"%></td>
	<td><%= sortable "team_id", "Land"%></td>
<% @players.each do |player| %>
	<tr draggable="true" id=<%="player_#{player.id}"%> >
	<td><%= player.name %></td>
	<td><%= player.price %></td>
	<td><%= player.position %></td>
	<td><%= Team.find(player.team_id).name %></td>
	</tr>


</span>
<% end %>
</table>
